.DS_Store
!node_modules
node_modules/*
*.d.ts
!node_modules/@brainandbones/
node_modules/@brainandbones/*
!node_modules/@brainandbones/skeleton/
node_modules/@brainandbones/skeleton/*
!node_modules/@brainandbones/skeleton/utilities
/build
*.ttf
/.svelte-kit
/package
.env
.env.*
!.env.example
.npmrc
.prettierignore
.prettierrc
package-lock.json
aktdb.creds
src/routes/aktdb/+page.js
node_modules/@brainandbones/skeleton/utilities/xxx
debug.log
history.json